<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseDomain" value="mybasedomain"/>
    <add key="Connection" value="myconnectionname"/>
    <add key="ConnectionID" value="myconnectionid"/>
    <add key="ClientID" value="my clientid"/>
    <add key="ClientSecret" value="myclientsecret"/>
  </appSettings>
</configuration>